_asset_bundler_cache
_site
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
*.gem
*.sublime-project
*.sublime-workspace
codekit-config.json
Gemfile.lock
node_modules
npm-debug.log*
.github
docs
example
.editorconfig
.gitattributes
banner.js
CHANGELOG.md
Gemfile
jekyll-theme-so-simple.gemspec
package.json
Rakefile
README.md
README-OLD.md
screenshot.png
